<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Scrapper</title>
    <link rel="icon" href="../static/dr.png.">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="centered">
        <img src="../static/dr.png" style="max-width: 100px">
        <h1 style="font-size: xxx-large; color: black">Digital Reputation</h1>
        <h1 style="color: #1f1f1f; font-weight: 400">Test Scrapper service</h1>
        <button onclick="location.href='/docs'">docs</button>
    </div>
</body>
</html>